.bg-image {
    background-image: url('fotos/Baggrund.png'); /* Ret evt. filnavn */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}